{% extends 'review/base.html' %}

{% block title %}Edit Report{% endblock %}

{% block body %}
<div class="container">
	<form class="form" action="{% url 'review:editselfcheck' form.report.id %}" method="POST">
		{% csrf_token %}
		{% for groupinfo in form.groups %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="#collapse{{ groupinfo.group.id }}">{{ groupinfo.group.title }}</a>
						<a class="pull-right" href="javascript:void(0)" onclick="grpclick(this)" id="valid-{{ groupinfo.group.id }}">
							{% ifequal groupinfo.group.valid '1' %}
								有効
							{% else %}
								無効
							{% endifequal %}
						</a>
					</h4>
				</div>
				<input type="hidden" name="group-valid-{{ groupinfo.group.id }}" id="group-valid-{{ groupinfo.group.id }}" value="{{ groupinfo.group.valid }}">
				<div id="collapse{{ groupinfo.group.id }}" class="panel panel-collapse collapse in">
					<div class="panel-body">
						{% for item in groupinfo.items %}
							<div class="form-group">
								<label class="control-label">{{ item.title }}</label>
								<div class="form-control">
								{% for radio in form.choice %}
									<label class="checkbox-inline">
										{% ifequal item.choice radio.0 %}
											<input type="radio" name="{{ item.name }}-choice" id="{{ item.name }}-choice-{{ forloop.counter }}" value="{{ radio.0 }}" checked>{{ radio.1 }}</label>
										{% else %}
											<input type="radio" name="{{ item.name }}-choice" id="{{ item.name }}-choice-{{ forloop.counter }}" value="{{ radio.0 }}" >{{ radio.1 }}</label>
										{% endifequal %}
									</label>
								{% endfor %}
								</div>
								{% if item.error %}
									<span class="help-block">
										<label class="text-danger">{{ item.error }}</label>
									</span>
								{% endif %}
								<input type="hidden" id="bug-count-{{ item.name }}" name="bug-count-{{ item.name }}" value="{{ item.bugs|length }}">
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endfor %}
		<button type="submit" class="btn btn-primary">OK</button>
		<input type="hidden" name="initvalue" value="{{ initvalue }}">
	</form>
</div>
<script type="text/javascript">
	function grpclick(clickitem) {
		var grplink = $(clickitem)[0];
		var hiditem = $('#group-'+grplink.id);
		var curstatus = 1 - parseInt(hiditem.val());
		hiditem.val(curstatus);
		if (curstatus == 0) {
			grplink.text="無効";
		} else {
			grplink.text="有効";
		}
	}
</script>
{% endblock %}
