{% extends 'review/base_js.html' %}

{% block title %}Edit Report{% endblock %}

{% block body %}
{{ block.super }}
<div class="container">
	<form class="form" action="{% url 'review:editselfcheck' form.project.code form.report.id %}" method="POST">
		{% csrf_token %}
		{% for groupinfo in form.groups %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="#collapse{{ groupinfo.group.id }}">{{ groupinfo.group.title }}</a>
						{% if groupinfo.group.summary.NG > 0 %}
							<label class="text-danger text-center">NG:{{ groupinfo.group.summary.NG }}件</label>
						{% endif %}
						<a class="pull-right" href="javascript:void(0)" onclick="grpclick(this)" id="valid-{{ groupinfo.group.id }}">
							{% ifequal groupinfo.group.valid '1' %}
								有効
							{% else %}
								無効
							{% endifequal %}
						</a>
					</h4>
				</div>
				<input type="hidden" name="group-valid-{{ groupinfo.group.id }}" id="group-valid-{{ groupinfo.group.id }}" value="{{ groupinfo.group.valid }}">
				<div id="collapse{{ groupinfo.group.id }}" class="panel panel-collapse collapse">
					<div class="panel-body">
						{% for item in groupinfo.items %}
							{% if item.details %}
								<div class="modal" id="modal-{{ item.name }}" tabindex="-1">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
												<h4 class="modal-title" id="modalLabel">{{ item.title }}</h4>
											</div>
											<div class="modal-body markdown">{{ item.details }}</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
							{% endif %}
							<div class="form-group">
								<label class="control-label">{{ item.code }}. {{ item.title }}</label>
								{% if item.details %}
									<a class="details" href="javascript:void(0)" onclick="showdetail(this)" data-target="#modal-{{ item.name }}"><span class="glyphicon glyphicon-question-sign"></span></a>
								{% endif %}
								<div class="form-control">
								{% for radio in form.choice %}
									<label class="checkbox-inline">
										{% ifequal item.choice radio.0 %}
											<input type="radio" name="{{ item.name }}-choice" id="{{ item.name }}-choice-{{ forloop.counter }}" value="{{ radio.0 }}" checked>{{ radio.1 }}</label>
										{% else %}
											<input type="radio" name="{{ item.name }}-choice" id="{{ item.name }}-choice-{{ forloop.counter }}" value="{{ radio.0 }}" >{{ radio.1 }}</label>
										{% endifequal %}
									</label>
								{% endfor %}
								</div>
								{% if item.error %}
									<span class="help-block">
										<label class="text-danger">{{ item.error }}</label>
									</span>
								{% endif %}
								<input type="hidden" id="bug-count-{{ item.name }}" name="bug-count-{{ item.name }}" value="{{ item.bugs|length }}">
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endfor %}
		{% if form.checklist.lock %}
		{% else %}
			{% if permission > 2 %}
				<div class="form-group">
					<div class="text-center">
						<button type="submit" class="btn btn-primary">OK</button>
					</div>
				</div>
				<input type="hidden" name="initvalue" value="{{ initvalue }}">
			{% endif %}
		{% endif %}
	</form>
</div>
<script type="text/javascript">
	function grpclick(clickitem) {
		var grplink = $(clickitem)[0];
		var hiditem = $('#group-'+grplink.id);
		var curstatus = 1 - parseInt(hiditem.val());
		hiditem.val(curstatus);
		if (curstatus == 0) {
			grplink.text="無効";
		} else {
			grplink.text="有効";
		}
	}
	function showdetail(clickitem) {
		var modal_id = $(clickitem).attr('data-target');
		$(modal_id).modal();
	}
	$(document).ready(function() {
		var converter = new showdown.Converter();
		var tds = $(".markdown");
		for (var i = 0; i < tds.length; i++) {
			tds[i].innerHTML = converter.makeHtml(tds[i].innerHTML);
		}
	});
</script>
{% endblock %}
