{% extends 'review/base_js.html' %}

{% block title %}
Import Users
{% endblock %}

{% block body %}
{{ block.super }}
<div class="container">
	<form class="form" action="{% url 'review:importuser' %}" method="POST">
		{% csrf_token %}
		<div class="form-group">
			<label for="excel_tab" class="control-label">Users</label>
			<textarea class="form-control" name="excel_tab" id="excel_tab" rows="9"></textarea>
			<span class="help-block">
				<strong>Excel Format</strong>
				<table class="table">
					<thead>
						<th>FamilyName</th>
						<th>GivenName</th>
						<th>Username</th>
						<th>Password</th>
					</thead>
					<tbody>
						<tr>
							<td>FamilyName</td>
							<td>GivenName</td>
							<td>Username</td>
							<td>Password</td>
						</tr>
					</tbody>
				</table>
			</span>
		</div>
		<button type="submit" class="btn btn-primary">Preview</button>
	</form>
</div>
{% endblock %}
