{% extends 'review/base_js.html' %}

{% block title %}
Import CheckItem
{% endblock %}

{% block body %}
{{ block.super }}
<div class="container">
	<form class="form" action="{% url 'review:importcheckitem' projectcode %}" method="POST">
		{% csrf_token %}
		<div class="form-group">
			<label for="excel_tab" class="control-label">CheckItems</label>
			<textarea class="form-control" name="excel_tab" id="excel_tab" rows="9"></textarea>
			<span class="help-block">
				<strong>Excel Format</strong>
				<table class="table">
					<thead>
						<th>Category</th>
						<th>Title</th>
						<th>Details</th>
					</thead>
					<tbody>
						<tr>
							<td>prefix of question code</td>
							<td>question title</td>
							<td>question detail<br />*support MarkDown</td>
						</tr>
					</tbody>
				</table>
			</span>
		</div>
		<button type="submit" class="btn btn-primary">Preview</button>
	</form>
</div>
{% endblock %}
