{% extends 'review/base_js.html' %}

{% block title %}Project List{% endblock %}

{% block body %}
{{ block.super }}
<div class="container">
	{% if permission.superuser %}
		<a href="{% url 'review:importuser' %}">Import User</a>
	{% endif %}
	<table class="table table-hover table-striped" id="prjtable">
		<thead>
			{% if permission.superuser %}
				<td><a href="{% url 'review:projectedit' 0 %}"><abbr title="New Project"><span class="glyphicon glyphicon-plus"></span></abbr></a>Title</td>
			{% else %}
				<td>Title</td>
			{% endif %}
			<td>Status</td>
		</thead>
		<tbody>
		{% for prj in projects %}
			<tr>
				{% if permission.systemuser %}
					<td><a href="{% url 'review:projectview' prj.code %}">{{ prj.title }}</a></td>
				{% else %}
					<td>{{ prj.title }}</td>
				{% endif %}
				<td>{{ prj.status }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
<script type="text/javascript">
	$(document).ready(function() {
			$('#prjtable').DataTable();
		});
</script>
{% endblock %}
