{% extends 'review/base_js.html' %}
{% load staticfiles %}

{% block title %}Manage CheckGroups{% endblock %}

{% block body %}
{{ block.super }}
<div class="container">
	<form class="form" action="{% url 'review:managecheckgroup' projectcode %}" method="POST">
		{% csrf_token %}
		<table class="table table-hover table-striped" id="radiotable">
			<thead>
				<tr>
					<td>Item</td>
					{% for grp in groups %}
						<td>{{ grp.title }}</td>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for row in data %}
					<tr>
						<td>{{ row.item.code }}. {{ row.item.title }}</td>
						{% for grp in row.groups %}
							<td>
								<div class="switch">
									{% if grp %}
										<input type="checkbox" name="chk-{{row.item.id}}-{{forloop.counter}}" checked />
									{% else %}
										<input type="checkbox" name="chk-{{row.item.id}}-{{forloop.counter}}" />
									{% endif %}
								</div>
							</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<button type="submit" class="btn btn-primary">OK</button>
		<input type="hidden" name="groupinfo" value="{{ groupinfo }}">
		<input type="hidden" name="initial" value="{{ initial }}">
	</form>
	<form class="form" action="{% url 'review:addcheckgroup' projectcode %}" method="POST">
		{% csrf_token %}
		<div class="form-group">
			<label class="control-label" for="title">Group Title:</label>
			<input type="text" class="form-control" id="title" name="title" placeholder="Enter new group title">
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">OK</button>
		</div>
		<input type="hidden" name="projectcode" value="{{ projectcode }}">
	</form>
</div>
<script type="text/javascript">
	$(document).ready(function() {
			$('#radiotable').DataTable({
				scrollY: 300,
				scrollX: true,
				scrollCollapse: true,
				paging: false,
				fixedColumns: true
				});
		});
</script>
{% endblock %}
