{% extends 'review/base_js.html' %}
{% load staticfiles %}

{% block title %}
Preview Sub Projects
{% endblock %}

{% block body %}
{{ block.super }}
<div class="container">
	<form class="form" action="{% url 'review:addsubproject' projectcode %}" method="POST">
		{% csrf_token %}
		<table class="table">
			<thead>
				<th>Title</th>
				<th>Details</th>
			</thead>
			<tbody>
				{% for row in data %}
				<tr>
					<td>{{ row.0 }}</td>
					<td><div class="markdown">{{ row.1 }}</div></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<input type="hidden" name="initial" value="{{ initial }}">
		<button type="submit" class="btn btn-primary">Write to Database</button>
	</form>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		var converter = new showdown.Converter();
		var tds = $(".markdown");
		for (var i = 0; i < tds.length; i++) {
			tds[i].innerHTML = converter.makeHtml(tds[i].innerHTML);
		}
	});
</script>
{% endblock %}
