{% extends 'review/base_js.html' %}
{% load staticfiles %}

{% block title %}
Preview Import CheckItem
{% endblock %}

{% block body %}
{{ block.super }}
<div class="container">
	<form class="form" action="{% url 'review:importuser' %}" method="POST">
		{% csrf_token %}
		<table class="table">
			<thead>
				<th>FamilyName</th>
				<th>GivenName</th>
				<th>Username</th>
				<th>Password</th>
			</thead>
			<tbody>
				{% for row in data %}
				<tr>
					<td>{{ row.0 }}</td>
					<td>{{ row.1 }}</td>
					<td>{{ row.2 }}</td>
					<td>{{ row.3 }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<input type="hidden" name="initial" value="{{ initial }}">
		<button type="submit" class="btn btn-primary">Write to Database</button>
	</form>
</div>
{% endblock %}
