{% extends 'review/base_js.html' %}

{% block title %}Project{% endblock %}

{% block body %}
{{ block.super }}
<div class="container">
	<div class="page-header">
		<h2>
			{{ project.title }}
			{% if permission.project %}
				<a href="{% url 'review:projectedit' project.code %}">
					<abbr title="Edit Project"><span class="glyphicon glyphicon-pencil"></span></abbr>
				</a>
			{% endif %}
			<a class="pull-right" href="{% url 'review:projectdash' project.code %}">
				<abbr title="DashBoard"><span class="glyphicon glyphicon-signal"></span></abbr>
			</a>
		</h2>
	</div>
	<ul>
		{% if permission.manage %}
			<li><a href="{% url 'review:manageuser' project.code %}">Manage User</a></li>
			<li><a href="{% url 'review:importcheckitem' project.code %}">Import CheckItems</a></li>
			<li><a href="{% url 'review:managecheckgroup' project.code %}">Manage CheckGroups</a></li>
			<li><a href="{% url 'review:managechecklist' project.code %}">Manage CheckLists</a></li>
			<li><a href="{% url 'review:addsubproject' project.code %}">Add Subprojects</a></li>
		{% endif %}
		<li><a href="{% url 'review:managechartgroup' project.code %}">Manage ChartGroup</a></li>
	</ul>
	<h4>Checklist List:</h4>
	<table class="table table-hover table-striped">
		<thead>
			<td>Title</td><td>Groups</td><td>SelfCheck</td>
		</thead>
		<tbody>
		{% for chk in checklists %}
			<tr>
				<td>{{ chk.title }}</td>
				<td>
					<ul>
					{% for grp in chk.groups %}
						<li>{{ grp.title }}</li>
					{% endfor %}
					</ul>
				</td>
				<td>{{ chk.selfcheck }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	<h4>SubProjects List:</h4>
	<table class="table table-hover table-striped" id="prjtable">
		<thead>
			<td>Title</td><td>Details</td>
		</thead>
		<tbody>
		{% for subp in subprojects %}
			<tr>
				<td>
					<a href="{% url 'review:subproject' project.code subp.code %}">{{ subp.title }}</a>
					{% if permission.manage %}
						<a href="{% url 'review:modifysubproject' project.code subp.code %}"><abbr title="Edit Project"><span class="glyphicon glyphicon-pencil"></span></abbr></a>
					{% endif %}
				</td>
				<td class="markdown">{{ subp.details }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
<script type="text/javascript">
	$(document).ready(function() {
			var converter = new showdown.Converter();
			var tds = $(".markdown");
			for (var i = 0; i < tds.length; i++) {
				tds[i].innerHTML = converter.makeHtml(tds[i].innerHTML);
			}
			$('#prjtable').DataTable();
		});
</script>
{% endblock %}
