{% extends 'review/base.html' %}

{% block title %}Sub Project{% endblock %}

{% block body %}
<div class="container">
	<div class="page-header">
		<h2>
			{{ subproject.title }}
		</h2>
	</div>
	<h3>SelfCheck</h3>
	<ul>
	{% for chk in checklists %}
		{% if chk.selfcheck %}
			<li>
				<a href="{% url 'review:newselfcheck' subproject.code chk.code %}">{{ chk.title }}</a>
				{% if chk.reports %}
					<ol>
						{% for report in chk.reports %}
							<li><a href="{% url 'review:editselfcheck' report.id %}">{{ report.title }}</a></li>
						{% endfor %}
					</ol>
				{% endif %}
			</li>
		{% endif %}
	{% endfor %}
	</ul>
	<h3>PeerCheck</h3>
	<ul>
	{% for chk in checklists %}
		{% if not chk.selfcheck %}
			<li>
				<a href="{% url 'review:newpeercheck' subproject.code chk.code %}">{{ chk.title }}</a>
				{% if chk.reports %}
					<ol>
						{% for report in chk.reports %}
							<li><a href="{% url 'review:editpeercheck' report.id %}">{{ report.title }}</a></li>
						{% endfor %}
					</ol>
				{% endif %}
			</li>
		{% endif %}
	{% endfor %}
	</ul>
</div>
{% endblock %}
