{% extends 'review/base_js.html' %}

{% block title %}Sub Project{% endblock %}

{% block body %}
{{ block.super }}
<div class="container">
	<div class="page-header">
		<h2>详细情报：</h2>
		<div class="markdown">{{ subproject.details }}</div>
	</div>
	<h3>SelfCheck</h3>
	<ul>
	{% for chk in checklists %}
		{% if chk.selfcheck %}
			<li>
				{% if permission.projectuser %}
					{% if chk.clickable %}
						<a href="{% url 'review:newselfcheck' subproject.project subproject.code chk.code %}">{{ chk.title }}</a>
					{% else %}
						{{ chk.title }}
					{% endif %}
				{% else %}
					{{ chk.title }}
				{% endif %}
				{% if chk.reports %}
					<table class="table table-hover table-striped">
						<thead>
							<tr>
								<th>Title</th>
								<th>作者</th>
								<th>状态</th>
								<th>OK</th>
								<th>NG</th>
								<th>IG</th>
								<th>修正中指摘</th>
								<th>确认中指摘</th>
								<th>已完成指摘</th>
							</tr>
						</thead>
						<tbody>
							{% for report in chk.reports %}
								<tr>
									<td><a href="{% url 'review:editselfcheck' subproject.project report.id %}">{{ report.title }}</a></td>
									<td>{{ report.status.author }}</td>
									{% ifequal report.status.status 'NG' %}
										<td>不可关闭</td>
									{% else %}
										{% if permission.projectuser %}
											{% if report.lock %}
												<td><a data-toggle="tooltip" data-placement="right" title="切换关闭/可编辑状态" href="{% url 'review:lockcheck' subproject.project report.code %}">已关闭</a></td>
											{% else %}
												<td><a data-toggle="tooltip" data-placement="right" title="切换关闭/可编辑状态" href="{% url 'review:lockcheck' subproject.project report.code %}">可关闭</a></td>
											{% endif %}
										{% else %}
											{% if report.lock %}
												<td>已关闭</td>
											{% else %}
												<td>可关闭</td>
											{% endif %}
										{% endif %}
									{% endifequal %}
									<td>{{ report.status.OK }}</td>
									<td>{{ report.status.NG }}</td>
									<td>{{ report.status.IG }}</td>
									<td>{{ report.status.BUGA }}</td>
									<td>{{ report.status.BUGC }}</td>
									<td>{{ report.status.BUGD }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% endif %}
			</li>
		{% endif %}
	{% endfor %}
	</ul>
	<h3>PeerCheck</h3>
	<ul>
	{% for chk in checklists %}
		{% if not chk.selfcheck %}
			<li>
				{% if permission.projectuser %}
					{% if selfcheck %}
						{% if chk.clickable %}
							<a href="{% url 'review:newpeercheck' subproject.project subproject.code chk.code %}">{{ chk.title }}</a>
						{% else %}
							{{ chk.title }}
						{% endif %}
					{% else %}
						{{ chk.title }}
					{% endif %}
				{% else %}
					{{ chk.title }}
				{% endif %}
				{% if chk.reports %}
					<table class="table table-hover table-striped">
						<thead>
							<tr>
								<th>Title</th>
								<th>作者</th>
								<th>状态</th>
								<th>OK</th>
								<th>NG</th>
								<th>IG</th>
								<th>修正中指摘</th>
								<th>确认中指摘</th>
								<th>已完成指摘</th>
							</tr>
						</thead>
						<tbody>
							{% for report in chk.reports %}
								<tr>
									<td><a href="{% url 'review:editpeercheck' subproject.project report.id %}">{{ report.title }}</a></td>
									<td>{{ report.status.author }}</td>
									{% ifequal report.status.status 'NG' %}
										<td>不可关闭</td>
									{% else %}
										{% if permission.projectuser %}
											{% if report.lock %}
												<td><a data-toggle="tooltip" data-placement="right" title="切换关闭/可编辑状态" href="{% url 'review:lockcheck' subproject.project report.code %}">已关闭</a></td>
											{% else %}
												<td><a data-toggle="tooltip" data-placement="right" title="切换关闭/可编辑状态" href="{% url 'review:lockcheck' subproject.project report.code %}">可关闭</a></td>
											{% endif %}
										{% else %}
											{% if report.lock %}
												<td>已关闭</td>
											{% else %}
												<td>可关闭</td>
											{% endif %}
										{% endif %}
									{% endifequal %}
									<td>{{ report.status.OK }}</td>
									<td>{{ report.status.NG }}</td>
									<td>{{ report.status.IG }}</td>
									<td>{{ report.status.BUGA }}</td>
									<td>{{ report.status.BUGC }}</td>
									<td>{{ report.status.BUGD }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% endif %}
			</li>
		{% endif %}
	{% endfor %}
	</ul>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		var converter = new showdown.Converter();
		var tds = $(".markdown");
		for (var i = 0; i < tds.length; i++) {
			tds[i].innerHTML = converter.makeHtml(tds[i].innerHTML);
		}
	});
</script>
{% endblock %}
